<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Prob5Guia2</title>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
</script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<head>
<style>
button {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}
</style>
</head>

<body>
<!--<br><br><br>Esta dibujado desde la coordenada X del centro de masa.<br><br><br>-->
  <div id="graph"></div>
  <div id="graph2"></div>
  <button onclick="javascript:simular();">Simular</button><br>
  <input type="text" id="mText" value="1"> m=masa pivot <br>
  <input type="text" id="MText" value="0.1"> M=masa pendulo <br>
  <input type="text" id="lText" value="1"> l=longitud pendulo <br>
  <input type="text" id="gText" value="1"> gravedad $g=1$ <br>
  <input type="text" id="nText" value="1000"> n=numero iteraciones <br>
  <input type="text" id="X0Text" value="0"> X(0) (X a t=0) <br>
  <input type="text" id="O0Text" value="-1.5"> O(0) (angulo a t=0) <br>
  <input type="text" id="dotX0Text" value="0"> dotX(0) (dX/dt a t=0) <br>
  <input type="text" id="dotO0Text" value="0.0"> dotO(0) (d[angulo]/dt a t=0) <br>
  <input type="text" id="dtText" value="0.01"> dt (paso de integracion) <br>
  <input type="text" id="animateText" value="10"> cada cuantas iteraciones dibujar <br>
  <br><br><br>	
  <b>Breve Descripcion</b>:<br>
  En Mathematica: <br> 
  <small> 
Lagrangiana = (m/2) (x'[t])^2 + (M/2)*((x'[t])^2 + 
     l^2 (theta'[t])^2 + 2 x'[t] l Cos[theta[t]] theta'[t]) + 
  m g l Cos[theta[t]] <br>
Needs["VariationalMethods`"] <br>
EulerEquations[Lagrangiana, {x[t], theta[t]}, t] <br>
{l M Sin[theta[t]] Derivative[1][theta][t]^2 - 
   l M Cos[theta[t]] (theta^\[Prime]\[Prime])[t] - (m + M) (
     x^\[Prime]\[Prime])[t] == 
  0, -l (g m Sin[theta[t]] + l M (theta^\[Prime]\[Prime])[t] + 
     M Cos[theta[t]] (x^\[Prime]\[Prime])[t]) == 0}<br>
Llamando o=theta[t], doto = theta'[t], x=x[t], dotx = x'[t], 
y ddotx = x''[t], ddoto= theta''[t] 
tenemos <br>
{{ddotx -> -((-doto^2 l M Sin[o] - g m Cos[o] Sin[o])/(
    m + M - M Cos[o]^2)), 
  ddoto -> (
   g m^2 Sin[o] + g m M Sin[o] + doto^2 l M^2 Cos[o] Sin[o])/(
   l M (-m - M + M Cos[o]^2))}}<br>
</small>
<br><br>

<a href="https://www.codecogs.com/eqnedit.php?latex=\ddot&space;x&space;=&space;\frac{\dot&space;\theta^2&space;l&space;\sin(\theta)&plus;&space;g&space;(m/M)&space;\cos(\theta)&space;\sin(\theta)}{m/M&plus;1-&space;\cos(\theta)^2},\\&space;\ddot&space;\theta&space;=&space;\frac{(g/l)&space;(m/M)^2&space;\sin(\theta)&space;&plus;&space;(g/l)&space;(m/M)&space;\sin(\theta)&plus;&space;\dot&space;\theta^2&space;\cos(\theta)&space;\sin(\theta)}{(&space;-m/M-1&plus;&space;\cos^2(\theta))}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\ddot&space;x&space;=&space;\frac{\dot&space;\theta^2&space;l&space;\sin(\theta)&plus;&space;g&space;(m/M)&space;\cos(\theta)&space;\sin(\theta)}{m/M&plus;1-&space;\cos(\theta)^2},\\&space;\ddot&space;\theta&space;=&space;\frac{(g/l)&space;(m/M)^2&space;\sin(\theta)&space;&plus;&space;(g/l)&space;(m/M)&space;\sin(\theta)&plus;&space;\dot&space;\theta^2&space;\cos(\theta)&space;\sin(\theta)}{(&space;-m/M-1&plus;&space;\cos^2(\theta))}" title="\ddot x = \frac{\dot \theta^2 l \sin(\theta)+ g (m/M) \cos(\theta) \sin(\theta)}{m/M+1- \cos(\theta)^2},\\ \ddot \theta = \frac{(g/l) (m/M)^2 \sin(\theta) + (g/l) (m/M) \sin(\theta)+ \dot \theta^2 \cos(\theta) \sin(\theta)}{( -m/M-1+ \cos^2(\theta))}" /></a>

<br><br>
<b>Comentarios:</b> <br>
<ul>
<li> El origen del sistema de referencia esta fijado a la coordenada X del centro de masa del sistema. </li>
<li> El metodo de integracion es demasiado simple... habria que mejorarlo </li>.
<li><i> Para ver/copiar codigo en javascript, Ctrl-U (al menos en chrome y firefox).</i></li>
</ul>
</body>

<body>

<script>

var n; // numero iteraciones
var m=1; // masa pivot
var M; // masa pendulo
var l=1; // longitud pendulo
var g=1; // gravedad

var X=0.0;
var O=0.0;
var dotX=0.0;
var dotO=0.0; // variables dinamicas

var dotX0;
var dotO0;
var X0;
var O0;

var animate;
var TX=[];
var Tx=[];
var Ty=[];
var tiempo=[];
var Energia=[];

function reset(){
	n = Number(document.getElementById("nText").value);
	dt = Number(document.getElementById("dtText").value);
	l = Number(document.getElementById("lText").value);
	m = Number(document.getElementById("mText").value);
	M = Number(document.getElementById("MText").value);
	X = Number(document.getElementById("X0Text").value);
	O = Number(document.getElementById("O0Text").value);
	dotX = Number(document.getElementById("dotX0Text").value);
	dotO = Number(document.getElementById("dotO0Text").value);
	animate = Number(document.getElementById("animateText").value);

	dotX0=dotX;	
	dotO0=dotO;
	O0=O;
	X0=X;	

	//window.alert("dt="+dt +", X="+X +", O="+O +", dotO="+dotO +", dotX="+dotX);

	console.log("n="+n);
	console.log("dt="+dt);
	console.log("l="+l);
	console.log("m="+m);
	console.log("M="+M);
	console.log("g="+g);
}

//1er ejemplo de https://plot.ly/javascript/animations/
Plotly.newPlot('graph', [{
  x: [0],
  y: [0],
  line: {simplify: false},
  name: 'pivot',
  marker:{size: M*15}
},
{
  x: [0],
  y: [-1],
  line: {simplify: false},
  name: 'masa',
  marker:{size: m*15}

},
{
  x: [0,0],
  y: [0,-1],
  line: {},
  name: 'palito',
},
{
  x: [],
  y: [],
  line: {dash: 'dot'},
  name: 'trayectoria',
}
], 
{
	xaxis:{range:[-1.5,1.5]},
	yaxis:{range:[-1.5,1]},	
	height:400,
   	width:500,
}, 
{
	showSendToCloud:true,
	xaxis:[-2,2] 
});



function FO(x,dotx, o, doto, i){
	var numerador = g*m*m*Math.sin(o)+g*M*m*Math.sin(o)+doto*doto*l*M*M*Math.cos(o)*Math.sin(o) ;
	var denominador = l*M*( -m-M+M*Math.cos(o)*Math.cos(o) );
	return numerador/denominador;
}
function FX(x,dotx, o, doto, i){
	return (doto*doto*l*M*Math.sin(o)+g*m*Math.cos(o)*Math.sin(o))/(m+M-M*Math.cos(o)*Math.cos(o));
}
function motion(i){
	//standard Euler (tiene drift)
	/*var dotx=dotX;
	var doto=dotO;
	var x=X;
	var o=O;
	O = O + dt*doto;
	X = X + dt*dotx;
	dotO = dotO + dt*FO(x,dotx, o, doto, i);
	dotX = dotX + dt*FX(x,dotx, o, doto, i);
	*/

	//leapfrog
	dotO = dotO + dt*FO(X,dotX, O, dotO, i);
	dotX = dotX + dt*FX(X,dotX, O, dotO, i);
	
	O = O + dt*dotO;
	X = X + dt*dotX;
	
	Energia[i]=(m/2.0)*dotX*dotX + (M/2.0)*(dotX*dotX+l*l*dotO*dotO +2.0*dotX*l*Math.cos(O)*dotO) + m*g*l*Math.cos(O);

	// fuerza momentum conservation
	//dotX = (m*dotX0 + M*(dotX0+l*Math.cos(O0)*dotO0)-M*(l*Math.cos(O)*dotO))/(m+M) ; 
}

function simular() {
	reset();
	//console.log("FO="+FO(0,0, 0, 0, 0));
	//console.log("FX="+FX(0,0, 0, 0, 0));

	/*
	var j=0;
	for(var i=0;i<n;i++)
	{	
		if(i%10==0){
			Xtraj[j]=X;
			Otraj[j]=O;
			j++;
		}
		motion(i);
		if(X>2.0) X=X-4.0; 
		if(X<-2.0) X=X+4.0; 
	}*/

	for(var i=0;i<n;i++)
	{	

		//console.log("X="+X+", O="+O+", dotX="+dotX+", dotO="+dotO);
		motion(i);

		//if(X>1.5) X=X-3.0; 
		//if(X<-1.5) X=X+3.0; 

		var Xcm=(m*(X+l*Math.sin(O))+M*X)/(M+m);
		X=X-Xcm;
		Xplot=X;
		Oplot=O;
		TX[i]=Xplot;
		Tx[i]=Xplot+l*Math.sin(Oplot);
		Ty[i]=-l*Math.cos(Oplot);;
		tiempo[i]=i*dt;
		
		//Xplot = X-Math.floor(X/2.0)*4.0;

		if(i%animate==0){

		Plotly.animate('graph', 
		{
    		data: [
				{x: [Xplot],y: [0], name: 'pivot',marker:{size: M*15}},
				{x: [Xplot+l*Math.sin(Oplot)],y:[-l*Math.cos(Oplot)], name: 'masa',marker:{size: m*15}},
				{x: [Xplot,Xplot+l*Math.sin(Oplot)],y: [0,-l*Math.cos(Oplot)], name: 'palito'},
				{x: [], y: [], name: 'trayectoria'},
			],
    		traces: [0,1,2,3],
	    	layout: {
			xaxis:{range:[-1.5,1.5]},
			yaxis:{range:[-1.5,1.5]},	
			height:500,
   			width:500,
				annotations: [
    				{
      					x: 0.5,
      					y: 0.5,
      					//xref: 'x',
      					//yref: 'y',
      					text: 't/dt='+i,
      					showarrow: false,
      					//arrowhead: 7,
      					//ax: 0,
      					//ay: -40
    				}]
	 		}
  		}, 
		{
     			transition: {
      			duration: 10,
      			easing: 'cubic-in-out'
    			},
	  		frame: {
		  	duration: 10
	  		}
  		}) //PLotly.animate
		}
	}//for	

	Plotly.newPlot('graph2', [
	{
	  x: tiempo, 
	  y: TX, 
	  name: 'X(t) (pivot)'
	},
	{
	  x: tiempo, 
	  y: Tx, 
	  name: 'x(t) (pendulo)'
	},
	{
	  x: tiempo, 
	  y: Ty, 
	  name: 'y(t) (pendulo)'
	},
	], 
	{
		xaxis:{},
		yaxis:{},	
		height:400,
	   	width:500,
	}, 
	{
		showSendToCloud:true,
	});

}// simular
</script>

<br><br> (ABKolton 2019) <br>
</body>


</html>

